:root{
    --primary_color:rgb(86, 140, 190);
}

*{
    box-sizing: border-box;
    outline: 0;
    font-family: sans-serif;
}

body, button{
    margin: 0;
    padding: 0;
    background: var(--primary_color);
    font-size: 20px;
}
.letreiro, .resul{
    text-align: center;
}
.container{
    padding: 20px;
    background: white;
    max-width: 640px;
    margin: 50px auto;
    border-radius: 10px;
}
form input, form label, form button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 18px;
}
#botao{
    color: aliceblue;
    font-weight: 900;
    margin-top: 38px;
    
}
form input, #botao{
    padding: 10px;
}
form input :focus{
    outline: 10px solid var(--primary_color);
}

table {
    margin: 40px auto;
}
table td{
    padding: 4px 18px;
}
th {
    text-align: left;
    padding-left: 19px;
}
